:root {
  
  --red:    #e82337;
  --orange: #fa6735;
  --yellow: #fff57a;
  --green:  #8de35d;
  --blue:   #4c89ee;
  --purple: #4837c7;
  --violet: #f43a3a;

  --black:  #040519;
  --grey:   #555555;
  --white:  #ffffff;

  --back:   #181818;
  --text:   #ebebeb;
  --error:  #ff0000;

 }

p{
  margin: 200;
}
body {
    background-color: var(--back);
    color: var(--text);
    font-family: Input;

    
  }

/*style="font-family: Input;"*/

  #terminal-container {
    width: 800px;
    margin: 0 auto;
    border: 1px solid var(--grey);
    border-radius: 5px;
    /* Added: remove scrollbar */
    overflow: hidden;
    font-family: Input;
  }

  #terminal-output{
    margin: 1rem;
    font-family: Input;

  }
  @font-face {
    font-family: Input;
    src: url(fonts/Input-Regular_\(InputMonoNarrow-Regular\).ttf);
}

  .command-input {
    width: 100%;
    margin-top: 10px;
  }

  /* Remove suggestion/history */
  input {
    width: 100%;
    padding: 10px;
    background-color: var(--back);
    color: var(--text);
    font-family: Input;


  }

  input:focus {
    outline: none; 
  }

